*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    
}

.container {
    width: 100%;
    position: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.397) 0%, rgba(0,0,0,1) 100%);
    z-index: 5;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 80px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.menu ul li {
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.menu ul li i {
    margin-right: 10px;
    transition: 0.3s ease;
}

.menu ul li:hover{
    color: rgb(34, 32, 32);
    transition: 0.3s ease;
    color: #c300ff;
}

.menu div:hover{
    background-color: rgb(34, 32, 32);
    transition: 0.3s ease;
}

.banner {
    background-image: url(../imagem/banner_produto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.texto{
    height: 100vh;
    display: flex;
    color: white;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: default;
}

.texto h1 {
    text-align: center;
}

.titulo {
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 32, 32);
    cursor: default;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.categoria {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color:  #c300ff;
    padding: 20px;
}

.categoria img {
    width: 250px;
    height: 250px;

}

.produtos {
    display: flex;
    position: relative;
    width: 350px;
    height: 350px;
    left: 50px;
}

.p_lista {
    position: absolute;
    width: 350px;
    transition: transform 600ms cubic-bezier(0.3, 0.8, 0.5, 1), opacity 600ms cubic-bezier(0.3, 0.8, 0.5, 1);
    opacity: 1;
}

.primeiro {
    z-index: 1;
    transform: translateX(calc(-100%)) scale(0.6);
}

.segundo {
    z-index: 2;
    transform: translateX(calc(-50%)) scale(0.8);
}

.terceiro {
    z-index: 3;
    transform: translateX(calc(0%)) scale(1);
}

.quarto {
    z-index: 2;
    transform: translateX(calc(50%)) scale(0.8);
}

.quinto {
    z-index: 1;
    transform: translateX(calc(100%)) scale(0.6);
}

.btn{
    
    background-color: #3f3f3f;
    color: white;
    width: 50px;
    height: 50px;
    border: 1px #c300ff solid;
    border-radius: 100%;
    font-size: 25px;
    transition: 0.6s ease;
}

.btn-left {
    position: absolute;
    top: 175px;
    transform: rotate(220deg);
    z-index: 4;
    left: 100px;
}

.btn-right{
    position: absolute;
    top: 175px;
    transform: translateY(-50%);
    z-index: 4;
    left: 1250px;
    transform: rotate(40deg);

}

.btn:hover {
    color: #c300ff;
    transition: 0.6s ease;
    cursor: pointer;
}

.produto{
    font-size: 40px;
    cursor: default;
}

.beneficios{
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0px 10px 30px 10px #3f3f3f;
    cursor: default;
}

.beneficios h2 {
    font-size: 30px;
    padding: 20px;
    color: #c300ff;
}

.beneficios div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 20px;
    padding: 20px;
}

.yopro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3f3f3f;
}

.yopro div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    background-color: #00000081;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #ccc;
    align-items: center;
    cursor: default;
}

.footer div {
    display: flex;
    align-items: center;
}

.footer div img {
    width: 50px;
}
