*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}

body {
    background-color: #181818;
}

.container {
    width: 100%;
    position: flex;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.397) 0%, rgba(0,0,0,1) 100%);
    z-index: 5;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 80px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.menu ul li {
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.menu ul li i {
    margin-right: 10px;
    transition: 0.3s ease;
}

.menu ul li:hover{
    color: rgb(34, 32, 32);
    transition: 0.3s ease;
    color: #c300ff;
}

.menu div:hover{
    background-color: rgb(34, 32, 32);
    transition: 0.3s ease;
}

.box {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 80px);
    align-items: center;
    width: 95%;
    margin: auto;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(135,29,167);
    background: linear-gradient(313deg, rgba(135,29,167,1) 0%, rgba(0,0,0,1) 48%);
    color: white;
    width: 650px;
    height: 500px;
    border-radius: 30px 0px 0px 30px;
}

.left img {
    width: 400px;
    align-self: center;
}

.left .slogan {
    display: flex;
    flex-direction: column;
}

.left .slogan h3 {
    width: 85%;
    margin: auto;
    font-size: 15px;
}

.box-left {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    border-radius: 30px 0px 500px 30px;
}

.footer{
    display: flex;
    justify-content: space-around;
    color: #ccc;
    align-items: center;
    font-size: 10px;
}

.footer div {
    display: flex;
    align-items: center;
}

.footer div img {
    width: 50px;
}

.card_erro {
    display: none;
    background-color: #c300ff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 20px;
    border: solid 2px black;
    padding: 10px;
    text-align: center;
}
  
.card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
    display: flex;
}

.card_erro img {
    width: 100px;
}

.right {
    background: rgb(135,29,167);
    background: linear-gradient(149deg, rgba(135,29,167,1) 0%, rgba(0,0,0,1) 48%);
    color: white;
    width: 650px;
    height: 500px;
    border-radius: 0px 100px 30px 0px;
}

.right .option {
    display: flex;
    gap: 30px;
    background-color: #d667f8;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    transition: 0.6s ease;
}

.right .option,.cadastro,.login {
    transition: 0.6s ease;
}

.right .option .cadastro:hover , .login:hover {
    color: black;
    transition: 0.6s ease;
}

.option div {
    cursor: pointer;
}

.option div hr {
    border: solid 1px black;
}

#ativo1 {
    display: block;
}

#ativo2 {
    display: none;
}

.box-right {
    background-color: #8b22ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 500px 30px 30px 0px;
}

.box-right .tudo {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #d667f8;
    border-radius: 20px 20px 20px 20px;
}

#form_cadastro, #form_login {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0.5s ease;
    overflow: hidden;
}

#form_cadastro.active {
    opacity: 1;
    visibility: visible;
    max-height: 400px;
}
#form_login.active {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
}

form {
    background-color: #b100e7;
    width: 300px;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form input,select,button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    transition: 0.6s ease;
    
}

form input,select,button::placeholder {
    font-weight: 800;
}

form h5 {
    font-size: 15px;
    transition: 0.6s ease;
}

form input:hover,select:hover,button:hover {
    background-color: #9c43cf;
    transition: 0.6s ease;
    cursor: pointer;
    color: white;
}

form h5:hover {
    color: black;
    transition: 0.6s ease;
    cursor: default;
}

@media (min-width: 1370px) {
    .box {
        width: 1300px;
    }
}