*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}

.container {
    width: 100%;
    position: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.397) 0%, rgba(0,0,0,1) 100%);
    z-index: 5;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 80px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.menu ul li {
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.menu ul li i {
    margin-right: 10px;
    transition: 0.3s ease;
}

.menu ul li:hover{
    color: rgb(34, 32, 32);
    transition: 0.3s ease;
    color: #c300ff;
}

.menu div:hover{
    background-color: rgb(34, 32, 32);
    transition: 0.3s ease;
}

.principal{
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: url(../imagem/Fundo2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.introducao{
    height: 100vh;
    display: flex;
    color: white;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: default;
}

.introducao h1 .maior {
    font-weight: 800;
    font-size: 70px;
}

.introducao .cor {
    color: rgb(177, 169, 169);
}

.introducao h1 hr{
    color: rgb(177, 169, 169);
    padding: 2px;
    background-color: rgb(177, 169, 169);
    width: 65%;
    border: none;
}

.introducao div{
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.introducao button{
    padding: 10px;
    border: none;
    background-color: rgb(48, 46, 46);
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
}

.introducao button:hover{
    box-shadow: none;
    background-color: rgb(109, 109, 109);
    transition: 0.3s ease;
}

h2{
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 32, 32);
    cursor: default;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    
}

.estrategias {
    background-color: rgba(0, 0, 0, 0.829);
    padding: 20px;
}

.estrategias i {
    font-size: 100px;
    transition: 0.6s ease;
}

.estrategias i:hover{
    transform: rotate(360deg);
    transition: 0.6s ease;
    color: #c300ff;
}

.estrategias h5 {
    font-weight: 800;
    font-size: 20px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    cursor: default;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.box h5 {
    border-bottom: 2px solid black;
}

.box p {
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
    background-color: #a200ff;
    box-shadow: 1px 1px 115px #000000 inset;
}

.box:hover{
    transform: scale(1.1,1.1);
    transition: 0.3s ease;
}

.caixa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 20px;
}

.box-slider {
    width: 800px;
    max-width: 540px;
    overflow: auto;
    margin: 30px auto;
    scroll-behavior: smooth;
    transition:  0.5s ease;
}

.box-slider::-webkit-scrollbar{
    display: none;
    
}

.slider {
    display: flex;
    transition: 0.6s ease-in-out;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagem div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-around;
    width: 540px;
    color: white;
    background-color: rgb(34, 32, 32);
    box-shadow: 10px 10px 1115px #a200ff inset;
}

.imagem div img {
    width: 300px;
    height: 300px;
    margin: auto;
}

.texto {
    display: flex;
    cursor: default;
}

.texto div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
    width: 540px;
    color: white;
    background-color: rgb(34, 32, 32);
    box-shadow: 1px 1px 11115px black;

}

.texto h3 {
    font-size: 20px;
    text-align: center;
    color: #a200ff;
}

.texto h5 {
    width: 80%;
    text-align: center;
    color: #ccc;
}

.direction button {
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s ease;
}

.direction button:hover {
    color: #a200ff;
    transition: 0.6s ease;
}

#prev {
    transform: rotate(220deg);
}

#next {
    transform: rotate(40deg);
}

.filosofos {
    background-color: rgba(0, 0, 0, 0.829);
    
}

.container-filosofo {
    display: flex;
    padding: 40px;
    width: 90%;
    margin: auto;
    justify-content: space-around;

}

.caixa-filosofo {
    border-radius: 12px;
    width: 300px;
    height: 400px;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    transition: 0.6s ease;
    cursor: default;
}

.caixa-filosofo h3 {
    border-bottom: solid 2px #1f1f1f;
    font-size: 30px;
}

.caixa-filosofo h4 {
    padding: 5px;
    color: #ffffff;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.575);
    background-color: #ccc;
    border-radius: 12px;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    box-shadow: 1px 1px 115px #a200ff inset;
}

.caixa-filosofo img {
    width: 200px;
    height: 150px;
    border-radius: 12px;
}

.caixa-filosofo:hover {
    transform: scale(1.1);
    transition: 0.6s ease;
}

.footer{
    background-color: #00000081;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #ccc;
    align-items: center;
    cursor: default;
}

.footer div {
    display: flex;
    align-items: center;
}

.footer div img {
    width: 50px;
}

/* FIM ESTILO HOME*/
/* FIM ESTILO HOME*/
/* FIM ESTILO HOME*/

