*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;

}

body {
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.829);
}

.container {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.397) 0%, rgba(0,0,0,1) 100%);
    z-index: 5;
}

#b_usuario{
    color: #c300ff;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 80px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.menu ul li {
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu ul li i {
    margin-right: 10px;
}

.menu ul li:hover{
    color: rgb(34, 32, 32);
    transition: 0.3s ease;
    color: #c300ff;
}

.menu div:hover{
    background-color: rgb(34, 32, 32);
    transition: 0.3s ease;
}

.info {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
        "a b"
        "c b";
    gap: 20px;
}

.kpi {
    grid-area: a;
    background-color: #1f1f1f;
    height: 10vw;
}
.dash {
    grid-area: c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f; 
    padding: 20px;
}

.dash canvas {
    max-width: 70%; 
    height: auto; 
}

.dash h3 {
    text-align: center;
    margin-bottom: 20px;
}

.progresso {
    grid-area: b;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 20px;
}

.progresso div {
    display: flex;
    width: 50%;
    gap: 10px;
    justify-content: space-around;
}

.progresso canvas {
    height: 100%;
}

.progresso input, .progresso button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 70%; 
}

div h3 {
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 32, 32);
    cursor: default;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
