*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;

}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    position: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.397) 0%, rgba(0,0,0,1) 100%);
    z-index: 5;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 80px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.menu ul li {
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu ul li i {
    margin-right: 10px;
}

.menu ul li:hover{
    color: rgb(34, 32, 32);
    transition: 0.3s ease;
    color: #c300ff;
}

.menu div:hover{
    background-color: rgb(34, 32, 32);
    transition: 0.3s ease;
}

.banner {
    background-image: url(../imagem/fundo_roxo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.cavaleiro{
    width: 50vw;
}

.cavaleiro img{
    width: 1000px;
    height: 2000px;
    position: relative;
    right: 100px;
    top: 650px;

}

.texto{
    height: 100vh;
    display: flex;
    color: rgb(255, 255, 255);
    background-color: #8400ff48;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    cursor: default;
}

.texto h1 {
    text-align: center;
}

.texto h2 {
    color: gray;
}

.texto div {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.titulo2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 32, 32);
    cursor: default;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.titulo {
    display: flex;
    justify-content: start;
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 32, 32);
    cursor: default;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.titulo h2 {
    width: 48%;
}

.about {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 30px;
}

.discucao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.discucao div {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

span {
    color: #c300ff;
}

.conexao {
    display: flex;
    justify-content: start;
}

.conexao div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
    width: 600px;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.motivo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.motivo img {
    width: 300px;
    height: 300px;
    border: solid 2px black;
    border-radius: 12px;
}

.motivo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.curiosidade {
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    background-color: #1f1f1f;
    width: 50vw;
    height: 60vw;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    color: white;
    gap: 10px;
}

input , select , button{
    border: 1px black solid;
    padding: 10px;
    border-radius: 28px;
    width: 300px;
    cursor: pointer;
    box-shadow: 5px 10px 110px black inset;
    color: white;
}

select option {
    background-color: #c300ff;
}

h3 {
    font-size: 20px;
    cursor: default;

}